body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
    display: inline-block;
}

img { 
    width: 60%;
    display: inline-block;
    float: right;
}

div {
    float: left;
    display: inline-block;
    width: 35%;
    margin-top: 50px;
}

h1 {
    font-size: 80px;
    color: white;
    margin: 0;
    font-family: fantasy;
}

p {
    color: white;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px
}

a {
    color: white;
}